@import '../common.scss';

html, body {
  width: $full-screen;
  height: $full-screen;
  overflow: hidden !important;
}

$prefix: 'my-';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pull-left {
  @include pull-left();
}

.#{$prefix}container {
  @extend html;

  > .#{$prefix}header {
    height: 48px;
    background: aquamarine;
    color: blueviolet;
  }


}